{{ bootstrap.load_css() }}
{{ bootstrap.load_js() }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Create Your Slideshow!</h1>
    <img src="static/starter_image/vidthumb.png" alt="">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload File" name="submit">
      </form>
      <a href="{{url_for('slideshow')}}"> <button>Finished</button> </a>
</body>
</html>